* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

//Color Pallette based on Under Dusken's own layout documentation. 
//Green is based off complimentary color chart off Red.
//Colors can also be used at 50% and 20%, in accordance with the graphic profile.
@blue: #00abd7;
@purple: #841764;
@red: #841764;
@orange: #f99d37;
@green: #22c51d; 

#global-header {
	color: #333;
	padding: 0.5em 0;
	margin-bottom: 20px;

	#global-search{
		width: 100%;
		box-sizing: border-box;
		padding: 1em 0.5em;
		margin-top: 38px;
	}
}

#main-logo {
	display: block;
	float: left;
	width: 200px;
	margin-top: 16px;
}

#category-menu {
	background-color: #eee;


	ul {
		list-style: none;
		margin-bottom: 0px;

		li {
			display: inline-block;
			font-size: 14px;

			a {
				padding: 10px 18px;
				display: inline-block;

				&:hover {
					background: #ddd;
				}
			}
		}

		i {
			margin-right: 2px;
			margin-top: 1px;
		}
	}

	#pick-category{
		display: none;
	}
}

#category-menu-mobile {
	display: none;
}



#main-menu {
	float: left;
	margin-left: 40px;
	margin-top: 28px;

	ul {
		line-height: 1;
		padding: 0;
		margin: 0;

		li {
			list-style-type: none;
			display: inline-block;
			margin: 0;
		}
	}

	a {
		line-height: 1;
		float: left;
		color: inherit;
		padding: 1em 20px;
	}

	#main-menu-select {
		width: 100%;
		display: none;
	}
}

#secondary-column {
	h1 {
		font-size: 20px;
	}
}

//Link discoloration
a {
	text-decoration: none;
	color: #333;
}
a:link {
	color:#333;
	text-decoration: none;
	}      /* unvisited link */
a:visited {
	color:#333d;
	text-decoration: none;
	}  /* visited link */
a:hover {
	color:#333;
	text-decoration: none;
	}  /* mouse over link */
a:active {
	color:#333;
	text-decoration: none;
}


//This is a class styling the byline of an article.
.byline{
	font-size: 12pt;
	border-top: 1px solid #eee;
	padding-top: 10px;
	margin-bottom: 40px;

	p {
		float: left;
		font-size: 14px;
	}
}

//Style for normal articles published on the site with a larger margin to fill 
//out the page better in the case of shorter news articles on the page coupled with ad-space.
.print {
	margin-bottom: 20px;

	.quoteright {
		float:right;
		max-width: 200px;
		max-height: 300px;
		margin: 6px;
		font-size: 1.5em;
	}
}

p {
	a {
		text-decoration: none;
		color: red;
	}
	a:link {
		color:red;
		text-decoration: none;
		}      /* unvisited link */
	a:visited {
		color:red;
		text-decoration: none;
		}  /* visited link */
	a:hover {
		color:red;
		text-decoration: underline;
		background-color: rgba(255, 0,0,.05);
		}  /* mouse over link */
	a:active {
		color:red;
		text-decoration: none;
	}
}

.quoteacross {
	font-family: "ProximaNovaRgBold";
	font-size:1.5em;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;

	&:before {
		content: "“";
	}

	&:after {
		content:"”"
	}
}

//Style for articles in "reportasje"-category, uses Merriweather 
//for font because of Sans-fonts ease on the eyes with longer texts.
.reportasje {
	//font-family:"Merriweather:400,700,900,300";
    font-size:1.2em;
    line-height:150%;
}

.repmainimage {

}

//Adspace on the Main Page going horizontaly across the content listing.
.ad-h-bar {
	background: #eee;
	min-height: 150px;
	margin-top: 20px;
	margin-bottom: 20px;
	
	&:after {
		content: "Ad space";
		color: black;
		font-size: 70%;
		display: block;
		margin: 30px;
	}
}
//Adspace on the Main Page replacing an article block with an ad.
.ad-v-block {
	background: #eee;
	min-height: 280px;
	margin-top: 0px;
	margin-bottom: 0px;
	&:after {
		content: "Ad space";
		color: black;
		font-size: 150%;
		display: block;
		margin: 0px;
		text-align: center;
		margin-top: 50;
	}
}

//Adspace in normal articles placed on the right hand side of the content.
.ad-v-bar {
	background: #eee;
	min-height: 800px;
}


// Utilities
.v-margin {
	margin-top: 40px;
	margin-bottom: 40px;
}

//A sectional crossbar on the Main Page promoting STV video
#multimediarow {
	margin-top: 10px ;
}


.footer{
	background-color: #eee;
	padding:2em;

	#contact {
		text-align: right;
		margin-right:1em;
		
		i {
			margin-right: 5px;
			margin-top: 2px;
		}
	}
}

//Selector for images on the front page navigation as well as in articles
.article img{
	width: 100%;
}

.artblock{
	margin-bottom: 1em;

	h2 {
		margin-top: 1em;
	}
}

// Landscape phones and down
@media (max-width: 480px) { }

// Landscape phone to portrait tablet
@media (max-width: 768px) { 

	.fullwidth {
		margin-left: -20px;
		margin-right: -20px;
	}

	#global-header{

		#main-menu {

			float: none;
			width: auto;
			margin-left: 142px;

			#main-menu-select {
				width: 100%;
				display: block;
			}

			ul {
				display: none;
			}
			
		}

		#global-search {
			margin-top: 20px;
			margin-bottom: 28px;
		}

		#main-logo {
			width: 100px;
			margin-top: 2px;
		}
	}

	

	#category-menu-mobile {
		display: block;
		background-color: #eee;
		margin-top: 40px;


		ul {
			list-style: none;
			margin-bottom: 0px;

			li {
				display: inline-block;
				float: left;
				width: 100%;
				border-bottom: 2px solid #BBB;
				font-size: 100%;

				a {
					padding: 10px 18px;
					display: block;

					&:hover {
						background: #ddd;
					}
				}
			}

			i {
				margin-right: 2px;
				margin-top: 1px;
			}
		}
	}

	#category-menu {
		ul {
			display: none;
		}

		#pick-category{
			display: block;
			text-align: center;
			padding: 10px 30px;
			background: #BBB;
		}
	}


}

//Debattsite CSS
.temamenu {
	border-bottom: 2px solid #eee;
	margin-bottom: 20px;
	h1 {
		padding-bottom: 1px;
	}
}

.pageheader {
	border-bottom: 2px solid #eee;
	margin-bottom: 20px;
	h1 {
		padding-top: 0px;
		padding-bottom: 5px;
		font-size: 3em;
	}
}

#debattlead{
	margin-top: 30px;
}

#debattnav{
	margin-top: 30px;
}

//Søkeresultat
#sokrad{
	margin-top: 20px;
}
#sokdato {
	font-size: 2em;
	font-family: ProximaNovaRgBold;
	margin-top: 12px;
}

// Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 980px) { 

	#global-header{


		#main-menu {
			margin-left: 16px;
		}
	}

}

// Large desktop
@media (min-width: 1200px) { }